<template>
  <div v-show="isOpen" class="dropdown-box">
    <slot />
    <div class="footer p-20 border-t border-gray-200">
      <div class="flex -m-3">
        <div class="w-5/12 px-3">
          <qu-button block @click="close">
            Cancel
          </qu-button>
        </div>
        <div class="w-7/12 px-3">
          <qu-button primary block @click="apply">
            Apply
          </qu-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import QuButton from '~/components/shared/QuButton'

export default {
  name: 'DropdownBox',
  components: {
    QuButton,
  },
  props: {
    isOpen: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    close() {
      this.$emit('close')
    },
    apply() {
      this.$emit('apply')
      this.close()
    },
  },
}
</script>

<style scoped>
.dropdown-box {
  @apply fixed w-full bg-white flex flex-col justify-between items-stretch;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  @screen md {
    @apply absolute;
    width: 290px;
    max-height: 400px;
    left: auto;
    right: auto;
    bottom: auto;
    top: 48px;
  }

  & > .main {
  }

  &.thumbs > .main > ul {
    @apply flex flex-wrap;

    & > li {
      @apply w-1/4;
    }

    & > li > button {
      @apply text-center;
    }
  }

  &.multiple li {
    @apply py-14;
  }
}
</style>
