<template>
  <div>
    <img
      class="logo lg:hidden"
      :src="logo"
      :alt="alt"
      :width="width"
      :height="height"
    />
    <img
      class="logo hidden lg:inline-block"
      :src="logo"
      :alt="alt"
      :width="widthLg"
      :height="heightLg"
    />
  </div>
</template>

<script>
import logo from '~/assets/img/logo-white.svg'

export default {
  name: 'Logo',
  props: {
    width: {
      type: [Number, String],
      default: 120,
    },
    height: {
      type: [Number, String],
      default: null,
    },
    widthLg: {
      type: [Number, String],
      default: 120,
    },
    heightLg: {
      type: [Number, String],
      default: null,
    },
    alt: {
      type: String,
      default: null,
    },
  },
  data() {
    return {
      logo,
    }
  },
}
</script>

<style>
.logo {
  animation: 1s appear;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
}
</style>
