<template>
  <button
    class="btn"
    :class="{ primary, secondary, block }"
    :style="{ height: height }"
    @click="callback"
  >
    <slot />
  </button>
</template>

<script>
export default {
  name: 'QuButton',
  props: {
    primary: {
      type: Boolean,
      default: false,
    },
    secondary: {
      type: Boolean,
      default: false,
    },
    block: {
      type: Boolean,
      default: false,
    },
    height: {
      type: String,
      default: null,
    },
  },
  methods: {
    callback(e) {
      this.$emit('click', e)
    },
  },
}
</script>

<style>
.btn {
  @apply bg-gray-300 inline-flex h-40 px-12 rounded items-center justify-center;

  &:hover {
    @apply bg-gray-400;
  }

  &.block {
    @apply flex w-full;
  }

  &.secondary {
    @apply bg-orange rounded font-bold text-white;

    &:hover {
      @apply bg-orange-600;
    }
  }

  &.primary {
    @apply bg-blue text-white;

    &:hover {
      @apply bg-blue-700;
    }
  }
}
</style>
