<template>
  <span class="icon" :class="color">
    <svg
      :width="size"
      :height="size"
      :viewBox="`0 0 24 24`"
      :transform="transform"
    >
      <title v-if="title">{{ title }}</title>
      <desc v-if="description">{{ description }}</desc>
      <path :d="path" :fill="color" />
    </svg>
  </span>
</template>

<script>
/* eslint-disable vue/require-default-prop */

export default {
  name: 'QuIcon',
  props: {
    path: String,
    color: String,
    title: String,
    description: String,
    size: {
      type: [Number, String],
      default: 24,
    },
    horizontal: {
      type: Boolean,
      default: false,
    },
    vertical: {
      type: Boolean,
      default: false,
    },
    transform: String,
  },
}
</script>

<style scoped>
.icon {
  &.gray-100 path {
    fill: theme('colors.gray.100');
  }
  &.gray-200 path {
    fill: theme('colors.gray.200');
  }
  &.gray-300 path {
    fill: theme('colors.gray.300');
  }
  &.gray-400 path {
    fill: theme('colors.gray.400');
  }
  &.gray-500 path {
    fill: theme('colors.gray.500');
  }
  &.gray-600 path {
    fill: theme('colors.gray.600');
  }
  &.gray-700 path {
    fill: theme('colors.gray.700');
  }
  &.gray-600 path {
    fill: theme('colors.gray.600');
  }
}
</style>
