<template>
  <div
    class="main-background"
    :style="{ backgroundImage: `url(${heroImage})` }"
  ></div>
</template>

<script>
import heroImage from '~/assets/img/hero-bg.jpg'

export default {
  name: 'MainBackground',
  data() {
    return {
      heroImage,
    }
  },
}
</script>

<style scoped>
.main-background {
  @apply h-136 bg-bottom bg-cover text-white absolute left-0 right-0 bottom-0 top-0;
  @screen md {
    @apply h-full fixed;
  }
}
</style>
