<template>
  <div class="h-136 md:h-auto text-white">
    <div class="px-20 lg:px-24 pt-16">
      <h1 class="text-white font-black text-base lg:text-lg">
        <nuxt-link href="/" to="/">{{ title }}</nuxt-link>
      </h1>
      <div class="flex">
        <span class="font-light text-12 text-white lg:text-base mr-4">By</span>
        <logo class="inline-block" width="73" width-lg="83" />
      </div>
    </div>

    <div class="container mt-80 hidden md:block lg:mb-28 md:mb-40">
      <div class="w-512">
        <h2 class="text-40 font-bold">{{ motto }}</h2>
        <p class="text-20">{{ subMotto }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import Logo from '~/components/shared/Logo'

export default {
  name: 'MainHero',
  components: { Logo },
  props: {
    title: {
      type: String,
      default: 'IRAN TRIP PLANNER',
    },
    motto: {
      type: String,
      default: 'Plan Your trip to Iran',
    },
    subMotto: {
      type: String,
      default:
        'Find or create your best plan to visit Iran based on +300 plans designed by professional tour guides and travelers',
    },
  },
}
</script>

<style scoped></style>
