<template>
  <div class="budget-dropdown md:mt-0" :class="{ active }">
    <label class="text-14 text-gray-600 md:hidden">{{ label }}</label>
    <div class="toggler" :class="{ active }" @click="open">
      {{ plh }}

      <QuIcon
        :path="mdiChevronDown"
        size="20"
        color="gray-500"
        class="md:hidden"
      />
    </div>

    <dropdown-box :is-open="isOpen" @close="close" @apply="apply">
      <div class="p-24">
        <form action="" @submit="apply">
          <div class="input-group">
            <label for="min" class="qu-label">Minimum price</label>
            <input
              id="min"
              v-model="localVal.min"
              type="text"
              class="qu-input"
            />
          </div>

          <div class="input-group mt-18">
            <label for="max" class="qu-label">Maximum price</label>
            <input
              id="max"
              v-model="localVal.max"
              type="text"
              class="qu-input"
            />
          </div>

          <input type="submit" class="hidden" />
        </form>
      </div>
    </dropdown-box>
  </div>
</template>

<script>
import { mdiChevronDown } from '@mdi/js'
import { mixin as clickaway } from 'vue-clickaway'
import DropdownBox from '~/components/shared/DropdownBox'

export default {
  name: 'BudgetDropdown',
  components: { DropdownBox },
  mixins: [clickaway],
  props: {
    value: null,
    label: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      mdiChevronDown,
      isOpen: false,
      localVal: {
        min: null,
        max: null,
      },
      val: null,
    }
  },
  computed: {
    plh() {
      if (this.active) return `${this.val.min || ''} , ${this.val.max || ''}`
      if (this.placeholder) return this.placeholder
      else return 'Select One'
    },
    active() {
      return !!(this.val && (this.val.min || this.val.max))
    },
  },
  methods: {
    away() {
      if (this.isOpen) this.close()
    },
    open() {
      this.isOpen = true
    },
    close() {
      this.isOpen = false
    },
    apply(e) {
      if (e) e.preventDefault()
      this.val = this.localVal
      this.$emit('updated', this.localVal)
    },
  },
}
</script>

<style scoped>
.budget-dropdown .toggler {
  @apply h-48 flex items-center px-12 border border-gray-200 text-14 rounded mt-6 flex justify-between cursor-pointer whitespace-no-wrap;

  &.active {
    @apply bg-blue text-white;
  }

  @screen md {
    @apply mt-0;
  }
}
</style>
