<template>
  <div class="multiple-selector-selected">
    <div
      v-for="(tag, i) in data"
      :key="labelBy ? tag[labelBy] : tag"
      class="tag"
    >
      <span v-if="labelBy"> {{ tag[labelBy] }} </span>
      <span v-else> {{ tag }} </span>

      <button class="close ml-10 hover:opacity-50" @click="del(tag, i)">
        <qu-icon :path="mdiClose" size="12" color="#4d658e" />
      </button>
    </div>
    <input
      v-model="filter"
      type="text"
      class="mb-10 mr-10 border-none appearance-none"
      @input="$emit('filter', $event.target.value)"
    />
  </div>
</template>

<script>
import { mdiClose } from '@mdi/js'
import QuIcon from '~/components/shared/QuIcon'

export default {
  name: 'MultipleSelectorSelected',
  components: { QuIcon },
  props: {
    data: {
      type: Array,
      default: () => [],
    },
    labelBy: {
      type: String,
      default: null,
    },
  },
  data() {
    return {
      mdiClose,
      filter: null,
    }
  },
  methods: {
    del(item, index) {
      this.$emit('delete', { item, index })
    },
  },
}
</script>

<style scoped>
.tag {
  @apply bg-blue-200 rounded h-32 items-center flex px-10 text-12 text-blue-800 mb-10 mr-10;
}

.multiple-selector-selected {
  @apply flex flex-wrap pt-10 pl-10 rounded border border-gray-350;
}
</style>
