<template>
  <div v-show="isOpen" class="multiple-box">
    <div class="selected">
      <label class="text-14 text-gray-600">{{ label }}</label>
      <div class="selected-items"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MultipleBox',
  props: {
    label: {
      type: String,
      default: '',
    },
    trackBy: {
      type: String,
      default: null,
    },
    labelBy: {
      type: String,
      default: null,
    },
    isOpen: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    close() {
      this.$emit('close')
    },
  },
}
</script>

<style scoped>
.multiple-box {
  @apply fixed w-full bg-white flex flex-col justify-between items-stretch;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
</style>
