<template>
  <div class="search-toggler">
    <label class="text-14 text-gray-600 md:hidden">{{ label }}</label>
    <div class="toggler">
      <span v-if="placeholder">
        {{ placeholder }}
      </span>
      <span v-if="mobilePlaceholder" class="md:hidden">
        {{ mobilePlaceholder }}
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Toggler',
  props: {
    cities: {
      type: Array,
      default: () => [],
    },
    label: {
      type: String,
      default: '',
    },
    placeholder: {
      type: String,
      default: '',
    },
    mobilePlaceholder: {
      type: String,
      default: '',
    },
  },
}
</script>

<style scoped>
.search-toggler .toggler {
  @apply h-48 flex items-center px-12 border border-gray-200 text-14 rounded mt-6;

  @screen md {
    @apply mt-0;
  }
}
</style>
