<template>
  <div v-on-clickaway="away" class="search-dropdown md:relative">
    <label class="text-14 text-gray-600 md:hidden">{{ label }}</label>
    <div class="toggler" :class="{ active }" @click="open">
      {{ plh }}

      <QuIcon
        v-if="!noArrow"
        :path="mdiChevronDown"
        size="20"
        color="gray-500"
        class="md:hidden"
      />
    </div>
    <search-dropdown-box
      v-model="localVal"
      :items="options"
      :multiple="multiple"
      :thumbs="thumbs"
      :is-open="isOpen"
      :track-by="trackBy"
      :label-by="labelBy"
      :label="label"
      @apply="apply"
      @close="close"
    />
  </div>
</template>

<script>
import { mdiChevronDown } from '@mdi/js'

import { mixin as clickaway } from 'vue-clickaway'
import QuIcon from '~/components/shared/QuIcon'
import SearchDropdownBox from '~/components/shared/search-box/SearchDropdownBox'

export default {
  name: 'SearchDropdown',
  components: { SearchDropdownBox, QuIcon },
  mixins: [clickaway],
  props: {
    label: {
      type: String,
      default: '',
    },
    placeholder: {
      type: String,
      default: '',
    },
    options: {
      type: Array,
      default: () => [],
    },
    trackBy: {
      type: String,
      default: null,
    },
    labelBy: {
      type: String,
      default: null,
    },
    thumbs: {
      type: Boolean,
      default: false,
    },
    multiple: {
      type: Boolean,
      default: false,
    },
    noArrow: {
      type: Boolean,
      default: false,
    },
    value: null,
  },
  data() {
    return {
      mdiChevronDown,
      isOpen: false,
      localVal: null,
    }
  },
  computed: {
    plh() {
      if (this.fakeVal && this.fakeVal.length !== 0) {
        if (this.labelBy) {
          if (this.fakeVal.length)
            return this.fakeVal.map((o) => o[this.labelBy] + ' ').toString()
          else return this.fakeVal[this.labelBy]
        } else {
          return this.fakeVal.toString()
        }
      }

      if (this.placeholder) return this.placeholder

      if (this.options && this.options.length && this.value)
        return this.options[this.value]
      else return 'Select One'
    },
    active() {
      return !!(this.fakeVal && this.fakeVal.length !== 0)
    },
    fakeVal: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      },
    },
  },
  watch: {
    fakeVal(val) {
      this.$emit('change', val)
    },
  },
  created() {
    if (this.multiple) {
      this.localVal = []
    }
  },
  methods: {
    away() {
      if (this.isOpen) this.close()
    },
    open() {
      this.isOpen = true
    },
    close() {
      this.isOpen = false
    },
    apply() {
      this.fakeVal = this.localVal
    },
  },
}
</script>

<style>
.search-dropdown .toggler, .s-toggler {
  @apply h-48 flex items-center px-12 border border-gray-200 text-14 rounded mt-6 flex justify-between cursor-pointer whitespace-no-wrap;

  @screen md {
    @apply mt-0;
  }

  &.active {
    @apply bg-blue text-white;
  }
}
</style>
