<template>
  <dropdown-box
    :is-open="isOpen"
    :class="{ thumbs, multiple }"
    class="dropdown-box"
    @close="close"
    @apply="apply"
  >
    <template v-if="!multiple">
      <div class="main p-20">
        <ul class="pb-24">
          <li
            v-for="(item, i) in items"
            :key="i"
            :class="{ active: active === i }"
          >
            <button v-if="labelBy" @click="select(i)">
              {{ item[labelBy] }}
            </button>
            <button v-else @click="select(i)">{{ item }}</button>
          </li>
        </ul>
      </div>
    </template>
    <template v-else>
      <div class="selected pb-8 px-20 pt-20 border-b">
        <label class="text-14 text-gray-600">{{ label }}</label>
        <multiple-selector-selected
          :data="fakeVal"
          :label-by="labelBy"
          @delete="deleteTag"
          @filter="onFilter"
        />
      </div>
      <div class="main p-20 pt-0 h-full">
        <ul class="pb-24">
          <li
            v-for="(item, i) in filteredItems"
            :key="i"
            :class="{ active: active === i }"
          >
            <p-check
              v-model="fakeVal"
              class="p-svg p-curve"
              color="primary"
              :value="item"
            >
              <!-- svg path -->
              <svg slot="extra" class="svg svg-icon" viewBox="0 0 20 20">
                <path
                  d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                  style="stroke: white; fill: white;"
                />
              </svg>
              <template v-if="labelBy">
                {{ item[labelBy] }}
              </template>
              <template v-else>
                {{ item }}
              </template>
            </p-check>
          </li>
        </ul>
      </div>
    </template>
  </dropdown-box>
</template>

<script>
import MultipleSelectorSelected from '~/components/shared/search-box/MultipleSelectorSelected'
import DropdownBox from '~/components/shared/DropdownBox'

export default {
  name: 'SearchDropdownBox',
  components: { DropdownBox, MultipleSelectorSelected },
  props: {
    items: {
      type: Array,
      default: () => [],
    },
    label: {
      type: String,
      default: '',
    },
    thumbs: {
      type: Boolean,
      default: false,
    },
    multiple: {
      type: Boolean,
      default: false,
    },
    value: null,
    isOpen: {
      type: Boolean,
      default: false,
    },
    trackBy: {
      type: String,
      default: null,
    },
    labelBy: {
      type: String,
      default: null,
    },
  },
  data() {
    return {
      active: null,
      filter: null,
    }
  },
  computed: {
    fakeVal: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      },
    },
    filteredItems() {
      if (this.filter) {
        if (this.labelBy)
          return this.items.filter((o) =>
            o[this.labelBy].toLowerCase().includes(this.filter.toLowerCase())
          )
        else
          return this.items.filter((o) =>
            o.toString().toLowerCase().includes(this.filter.toLowerCase())
          )
      }
      return this.items
    },
  },
  watch: {
    fakeVal(val) {
      this.$emit('change',val)
    }
  },
  methods: {
    select(index) {
      this.active = index
      if (this.items) {
        this.fakeVal = this.items[index]
      }
    },
    close() {
      this.$emit('close')
    },
    apply() {
      this.$emit('apply', this.value)
      this.close()
    },
    deleteTag({ item, index }) {
      this.fakeVal = this.fakeVal.filter((item, i) => {
        return i !== index
      })
    },
    onFilter(val) {
      this.filter = val
    },
  },
}
</script>

<style>
.dropdown-box {
  & > .main {
    @apply w-full overflow-y-scroll;
    & > ul > li > button {
      @apply py-18 rounded px-16 cursor-pointer block w-full text-left;

      &:hover {
        @apply bg-blue-200;
      }
    }

    & > ul > li.active button {
      @apply border border-blue;
      box-sizing: border-box;
    }
  }

  &.thumbs > .main > ul {
    @apply flex flex-wrap;

    & > li {
      @apply w-1/4;
    }

    & > li > button {
      @apply text-center;
    }
  }

  &.multiple li {
    @apply py-14;
  }
}
</style>
