<template>
  <div class="bg-white px-24 py-28 md:flex md:py-6">
    <search-dropdown
      v-model="searchData.cities"
      class="mt-14 md:mt-0 md:mr-10"
      label="Preferred Destinations"
      placeholder="Destinations"
      mobile-placeholder="Select or Search Iran Cities"
      :options="cities"
      multiple
      track-by="slug"
      label-by="name"
      no-arrow
    />

    <search-dropdown
      v-model="searchData.month"
      class="mt-14 md:mt-0 md:mr-10"
      label="When"
      placeholder="All Months"
      :options="months"
      thumbs
    />
    <search-dropdown
      v-model="searchData.duration"
      class="mt-14 md:mt-0 md:mr-10"
      label="Duration"
      placeholder="Duration"
      track-by="key"
      label-by="label"
      :options="weeks"
    />

    <div class="flex -mx-3 md:m-0">
      <div class="w-1/2 px-3 md:m-0 md:p-0 md:w-auto">
        <search-dropdown
          v-model="searchData.passenger"
          class="mt-14 md:mt-0 md:mr-10"
          label="Travelers"
          placeholder="Passengers"
          track-by="key"
          label-by="label"
          :options="passengers"
        />
      </div>
      <div class="w-1/2 px-3 md:m-0 md:p-0 md:w-auto">
        <budget-dropdown
          class="mt-14 md:mt-0 md:mr-10"
          label="Budget Range"
          placeholder="Budget Range"
          @updated="onBudgetUpdate"
        />
      </div>
    </div>
    <qu-button
      secondary
      :block="$mq === 'sm'"
      class="mt-28 md:mt-0 md:w-120"
      :height="$mq !== 'sm' ? '49px' : null"
      @click="search"
    >
      Search
    </qu-button>
  </div>
</template>

<script>
import SearchDropdown from '~/components/shared/search-box/SearchDropdown'
import BudgetDropdown from '~/components/shared/search-box/BudgetDropdown'
import QuButton from '~/components/shared/QuButton'

export default {
  name: 'SearchArea',
  components: { QuButton, BudgetDropdown, SearchDropdown },
  data() {
    return {
      searchData: {
        cities: [],
        month: null,
        duration: null,
        passenger: null,
        budget: null,
      },
      cities: [],
      months: [
        'Jan',
        'Feb',
        'Mar',
        'Apr',
        'May',
        'Jun',
        'Jul',
        'Aug',
        'Sep',
        'Oct',
        'Nov',
        'Dec',
      ],
      weeks: [
        {
          key: '1w',
          label: '1 week',
        },
        {
          key: '2w',
          label: '2 week',
        },
        {
          key: '1M',
          label: '1 mounth',
        },
      ],
      passengers: [
        {
          key: 1,
          label: '1 Passenger',
        },
        {
          key: 2,
          label: '2 Passenger',
        },
        {
          key: 3,
          label: '3 Passenger',
        },
        {
          key: 4,
          label: '4 Passenger',
        },
        {
          key: 5,
          label: '5 Passenger',
        },
        {
          key: 6,
          label: '6 Passenger',
        },
        {
          key: 7,
          label: '7 Passenger',
        },
      ],
    }
  },
  mounted() {
    this.$api
      .getCities()
      .then((res) => {
        // eslint-disable-next-line no-console
        const { data } = res.data
        this.cities = data
      })
      .catch((err) => {
        // eslint-disable-next-line no-console
        console.error(err)
      })
  },
  methods: {
    search() {
      this.$emit('submit', this.searchData)
    },
    onBudgetUpdate(data) {
      this.searchData.budget = data
    },
  },
}
</script>

<style scoped></style>
