<template>
  <div class="flex">
    <search-dropdown
      v-model="searchData.cities"
      class="mr-10"
      placeholder="Destinations"
      mobile-placeholder="Select or Search Iran Cities"
      :options="cities"
      multiple
      track-by="slug"
      label-by="name"
      no-arrow
      @change="onChange"
    />

    <div class="s-toggler" @click="open">
      filters (3)
    </div>

    <div v-if="isOpen" class="fixed left-0 right-0 top-0 bottom-0 bg-white">
      <button @click="close">
        <qu-icon :path="mdiClose" />
      </button>
      <search-area @submit="searchSubmit" />
    </div>
  </div>
</template>

<script>
import { mdiClose } from '@mdi/js'
import SearchArea from '~/components/shared/search-box/SearchArea'
import SearchDropdown from '~/components/shared/search-box/SearchDropdown'
import QuIcon from '~/components/shared/QuIcon'
export default {
  components: { QuIcon, SearchDropdown, SearchArea },
  data() {
    return {
      searchData: {
        cities: [],
        month: null,
        duration: null,
        passenger: null,
        budget: null,
      },
      mdiClose,
      cities: [],
      isOpen: false,
    }
  },
  mounted() {
    this.$api
      .getCities()
      .then((res) => {
        // eslint-disable-next-line no-console
        const { data } = res.data
        this.cities = data
      })
      .catch((err) => {
        // eslint-disable-next-line no-console
        console.error(err)
      })
  },
  methods: {
    searchSubmit(data) {
      this.$emit('submit', data)
    },
    onChange(val) {
      this.$emit('change', val)
    },
    open() {
      this.isOpen = true
    },
    close() {
      this.isOpen = false
    },
  },
}
</script>

<style scoped></style>
