<template>
  <div class="home-page">
    <main-background />
    <div class="relative z-10">
      <main-hero />
      <search-area @submit="searchSubmit" />
    </div>
  </div>
</template>

<script>
import MainHero from '~/components/Index/MainHero'
import SearchArea from '~/components/shared/search-box/SearchArea'
import MainBackground from '~/components/Index/MainBackground'

export default {
  components: { MainBackground, SearchArea, MainHero },
  data() {
    return {
      key: null,
    }
  },
  methods: {
    searchSubmit(data) {
      this.$router.push({
        path: '/itineraries',
        query: {
          cities: JSON.stringify(data.cities.map((o) => o.slug)),
          season: '',
          budget: JSON.stringify(data.budget),
          passengersCount: data.passenger,
          startDate: data.month,
        },
      })
    },
  },
}
</script>

<style></style>
