<template>
  <div class="page-itineraries">
    <header>
      <search-area v-if="$mq !== 'sm'" @submit="searchSubmit" />
      <list-search-box v-else />
    </header>
  </div>
</template>

<script>
import SearchArea from '~/components/shared/search-box/SearchArea'
import ListSearchBox from '~/components/shared/list-search-box/ListSearchBox'

export default {
  components: { ListSearchBox, SearchArea },
  asyncData({ app, query }) {
    const newQuery = {
      cities: JSON.parse(query.cities),
    }

    // const object = {}
    app.$api.itineraries(newQuery).then((item) => {
      console.log(item)
    })
  },
  methods: {
    searchSubmit(data) {
      this.$router.push({
        path: '/itineraries',
        query: {
          cities: JSON.stringify(data.cities.map((o) => o.slug)),
          season: '',
          budget: JSON.stringify(data.budget),
          passengersCount: data.passenger,
          startDate: data.month,
        },
      })
    },
  },
}
</script>

<style scoped></style>
